
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section>
    <div class="container-fluid">
        <div class="row allign-items-center">
            <div class="col-xl-10 col-lg-9 col-md-8 ml-auto overflow-hidden">
                <div class="col mt-2">
                    @{ Html.RenderAction("Homemenu", "HomeMenu"); }
                    @*
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <a href="../CustomeDetailsr/CustomerMaster">
                        <div class="card mb-3 card-cmn">
                            <i class="fas fa-address-card text-info d-icon"></i>
                            <div class="card-body">
                                <p class="card-text text-center font-weight-bold text-uppercase">Customer&nbsp;Details</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <a href="../Activity/Activity">
                        <div class="card mb-3 card-cmn">
                            <i class="fas fa-sticky-note text-info d-icon"></i>
                            <div class="card-body">
                                <p class="card-text text-center font-weight-bold text-uppercase">Activity</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <a href="../saleorder/saleorder">
                        <div class="card mb-3 card-cmn">
                            <i class="fas fa-shopping-cart text-info d-icon"></i>
                            <div class="card-body">
                                <p class="card-text text-center font-weight-bold text-uppercase">Sale&nbsp;Order</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <a href="../transportation/Index">
                        <div class="card mb-3 card-cmn">
                            <i class="fas fa-truck-moving text-info d-icon"></i>
                            <div class="card-body">
                                <p class="card-text text-center font-weight-bold text-uppercase">Logistics</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <a href="../TailorassignmentSave/Tailorassignment">
                        <div class="card mb-3 card-cmn">
                            <i class="fas fa-sticky-note text-info d-icon"></i>
                            <div class="card-body">
                                <p class="card-text text-center font-weight-bold text-uppercase">Tailor-Assignment</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <a href="../Trail/Trail">
                        <div class="card mb-3 card-cmn">
                            <i class="fas fa-clipboard-check text-info d-icon"></i>
                            <div class="card-body">
                                <p class="card-text text-center font-weight-bold text-uppercase">Trail</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <a href="../delivery/delivery">
                        <div class="card mb-3 card-cmn">
                            <i class="fas fa-file-export fa-6x text-info d-icon"></i>
                            <div class="card-body">
                                <p class="card-text text-center font-weight-bold text-uppercase">Delivery</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <a href="../Invoice/Invoice">
                        <div class="card mb-3 card-cmn">
                            <i class="fas fa-file-invoice d-icon text-info"></i>
                            <div class="card-body">
                                <p class="card-text text-center font-weight-bold text-uppercase">Invoice</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <a href="../StatusDashboard/StatusDashboard">
                        <div class="card mb-3 card-cmn">
                            <i class="fas fa-sticky-note text-info d-icon"></i>
                            <div class="card-body">
                                <p class="card-text text-center font-weight-bold text-uppercase">Status&nbsp;Dashboard</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <a href="../TailorAssignedDashboard/TailorAssignedDashboard">
                        <div class="card mb-3 card-cmn">
                            <i class="fas fa-sticky-note text-info d-icon"></i>
                            <div class="card-body">
                                <p class="card-text text-center font-weight-bold text-uppercase">Assigned&nbsp;Dashboard</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>*@
                </div>
            </div>
        </div>
    </div>
</section>


